# https://docs.gitlab.com/ci/yaml/
# https://docs.gitlab.com/ci/variables/predefined_variables/
default:
  image: git.zju.edu.cn:5050/os/tool:latest
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - $UV_CACHE_DIR
variables:
  # https://docs.gitlab.com/ci/runners/git_submodules/
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_FORCE_HTTPS: "true"
  UV_CACHE_DIR: .uv-cache

build:
  stage: build
  script:
    - make
  artifacts:
    paths:
      - kernel/vmlinux
      - kernel/arch/riscv/boot/Image

test:
  stage: test
  dependencies:
    - build
  before_script:
    - qemu-system-riscv64 --version
    - gdb-multiarch --version
    - uv --version
  script:
    # - sleep 1d # debug
    - uv --project autograder run autograder
    - uv cache prune --ci
  rules:
    # do not run tests in release repository
    - if: $CI_PROJECT_NAME == "code"
      when: never
    # run for all other repositories on build success
    - if: $CI_PROJECT_NAME
