# https://docs.docker.com/reference/compose-file/
services:
  zju-os-code:
    image: git.zju.edu.cn:5050/os/tool:latest
    container_name: zju-os-code
    hostname: zju-os-code
    volumes:
      - ./:/zju-os/code
      # SSH and Git Configuration pass-through
      - ~/.gitconfig:/root/.gitconfig:ro
      - ~/.ssh:/mnt/host_ssh:ro
    post_start:
      - command: [ "cp", "-r", "/mnt/host_ssh/.", "/root/.ssh/" ]
    working_dir: /zju-os/code
    init: true
    entrypoint: ["sleep", "infinity"]
